*{padding: 0; margin: auto;}
.wrapper_area{
	height: 1080px;
	background-color: #000000;
	width: auto;
}
.menu{
	background-color: #241e1e
}
.menu ul li{
	position: relative;
	display: inline-block;
	padding: 30px 142px;
}
.menu ul li a{
	text-decoration: none;
	color: #636363;
	font-size: 20px;
}
.menu ul li:hover{
	background-color: white;
	padding: 25px;	
}
.menu ul input{
   position: relative;
 }
  #marquee h1{
 	background-color: #000000;
 	color: white;
 }
 #header_area{
	height: 200px;
	background-color: #000000;
	padding: 30px;
}
#header_area img{
	height: 200px;
	width: 200px;
	float: left;
}
#header_area h1{
	float: right;
	margin-right: 750px;
	margin-top: 70px;
	font-size: 50px;
	color: white;
}
#cover img{
	width: 1779px;
	outline: #000000 solid 10px;

}
.Processor p{
	font-size: 45px;
	background-color: #000000;
	color: #90c5c6;
    text-transform: justify;
	padding: 10px;
	outline: #000000 solid 5px;


}
.Processor h2{
	font-size: 50px;
	background-color: #000000;
	color: #90c5c6;
    text-transform: justify;
	padding: 10px;
}
.menu ul li{
	position: relative;
	padding: 7px 50px;
	display: inline-block;
}
.menu ul li a{
	 text-decoration: none;
	 color: skyblue;
}
.menu ul li a:hover{
	background-color: white;
	padding:50px
	height:5px;
	width: 350px;
}
.menu ul li ul{
	position: absolute;
	left: 0px;
	background-color: #241e1e;
	width: 50px;
}
.menu ul li ul{
	opacity: 0;
}
.menu ul li ul:hover{
	opacity: 1;
}
.menu input{
	float: right;
	border-radius: 30px;
	margin-right: 30px;
	margin-top: 7px;

}
#footer{
 	height: 300px;
 	width: auto;
 	background-color: #898989;
 	margin-top: 50000px;
 }
 .footer{
 	height: 120px;
 	background-color: skyblue;
 	margin-top: 377px;
 }
 .footer h3{
    font-size: 15px;
    margin-left: 820px;
    padding: 30px;
 } 
 .footer img{
 	height: 35px;
 	width: 30px;
 	float: right;
 	margin-right: 400px;
 	margin-bottom: 150px;
 	padding: 5px;
 	margin-top: 10px;
 }
 .menu ul li ul{
 	position: absolute;
 	left: 0px;
 	background-color: white;
 	width: 191px;
 }